<%-include('partials/header', {
  page,
  title: 'Whisk Custom Creations',
  headerDisplay: true,
  header: 'Custom Creations'
}); %>
  <div class="row">
    <div class="col-md-12">
      <div class="text-opener">We love all things cake, so if you have an idea you'd love to explore get in touch with us! It's best to e-mail us with the event date and any flavour or design ideas. Depending on the complexity of the cake we will follow up with an e-mail or a sit down consultation and tasting.</div>
    </div>
  </div>  
    
  <div class="row">
    <div class="col-md-6 menu-text my-auto">
      <h2>Wedding Cakes</h2>

      <p>On such a special day we want to ensure that it's a hassle free and enjoyable experience. We offer a fully bespoke service following consultation.</p>
    </div>
    <div class="col-md-6 no-padding">
      <img class="menu-img" src="/images/weddingcake.jpg" alt="Wedding Cake" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 no-padding">
      <img class="menu-img" src="/images/celebrationcake.jpg" alt="Celebration Cake" />
    </div>
    <div class="col-md-6 order-first order-md-last menu-text my-auto">
      <h2>Bespoke Celebration Cakes and Cupcakes</h2>

      <p>We know sometimes you're looking for something special and may have an idea in mind so we are here to help add that sweet addition to your celebration, birthday party or event.</p>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-6 menu-text my-auto">
      <h2>Desert Tables</h2>

      <p>For events that call for a variety of sweet treats we can help you provide a delicious selection of our cakes, truffles, biscuits and cupcakes! Once we know your requirements we are able to put together a delicious bespoke offering that you and your guests will love.</p>
    </div>
    <div class="col-md-6 no-padding">
      <img class="menu-img" src="/images/deserttable.jpg" alt="Desert Table" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 menu-text accessories">
      <h2>Accessories</h2>

      <p>We also have our beautiful WHISK boxes, cake stands and toppers available to rent.</p>

      <p>As we have an environmentally friendly approach to cake making, this is reflected in the designs and ingredients we offer. We don't offer fondant cakes or use synthetic food colourings. As we colour all our baked goods using natural organic ingredients, there are some colours we aren't able to use in our cakes.</p>
    </div>
  </div>
<%-include('partials/footer', {
  page
}); %>