<%-include('partials/header', {
  page,
  title: 'Whisk FAQ',
  headerDisplay: true,
  header: 'FAQ'
}); %>
  <div id="accordion">
    <div class="card card-top">
      <div class="card-header" id="headingOne">
        <div class="btn-group">
          <button class="btn faq-btn">Why the focus on organic ingredients?</button>
          <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        </div>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body"><p>We use organic ingredients and as local as we can get it (more on why <a href="/philosophy">here</a>). We believe passionately about running a sustainable and eco-friendly business, and the ingredients we use are a key element, ensuring produce is excellent quality, produced in a sustainable way and ensuring the people who grow, manufacture or produce them are paid fairly and treated with respect.</p>

          <p>The reason we have chosen to use organic produce is because it's important! Over recent years there has been more research into the area and organic farming and production practices have a positive  impact across many areas. Here are a few examples (some text is taken straight from the reports):</p>

          <ul>
            <li>Having a restricted use of antibiotics in organic systems could help minimise this risk of increased antibiotic resistance in bacteria <a href="#ref1"><sup>1</sup></a></li>
            <li>Animal products that are certified organic ensures that the animals are treated better as they have more access to outdoor space and less concentrated feeds. <a href="#ref1"><sup>1</sup></a></li>
            <li>As synthetic fertilizers and pesticides are prohibited in organic agriculture,  people eating this have less dietary pesticide exposure, as well as the chronic and acute risks associated from such exposure. It also means the animals and insets eating the plants aren't poisoned by the pesticides. <a href="#ref1"><sup>1</sup></a> It also means there is less pollution of groundwater. and in turn enhances the soil structure and water infiltration. <a href="#ref2"><sup>2</sup></a></li>
            <li>Organic agriculture reduces non-renewable energy use by decreasing agrochemical needs (these require high quantities of fossil fuel to be produced). Organic agriculture contributes to mitigating the greenhouse effect and global warming through its ability to sequester carbon in the soil. Many management practices used by organic agriculture (e.g. minimum tillage, returning crop residues to the soil, the use of cover crops and rotations, and the greater integration of nitrogen-fixing legumes), increase the return of carbon to the soil, raising productivity and favouring carbon storage. <a href="#ref2"><sup>2</sup></a> <a href="#ref4"><sup>4</sup></a></li>
            <li>Organic farmers are both custodians and users of biodiversity at all levels. At the gene level, traditional and adapted seeds and breeds are preferred for their greater resistance to diseases and their resilience to climatic stress. At the species level, diverse combinations of plants and animals optimise nutrient and energy cycling for agricultural production. At the ecosystem level, the maintenance of natural areas within and around organic fields and absence of chemical inputs create suitable habitats for wildlife. <a href="#ref2"><sup>2</sup></a></li>
            <li>Species that contribute to the food ecosystem, such as pollinators, soil organisms and natural enemies of pests, are under sever threat, and one of the main causes is pollution, overharvesting and overexploitation, which is mitigated by following organic agriculture practices. <a href="#ref3"><sup>3</sup></a></li>
            <li>By opting for organic products, the consumer through his/her purchasing power promotes a less polluting agricultural system. The hidden costs of agriculture to the environment in terms of natural resource degradation are reduced. <a href="#ref2"><sup>2</sup></a></li>
          </ul>
          <p>If you want more detailed information on each point, the links are below</p>

          <ol>
            <li><cite id="ref1"><a href="https://www.europarl.europa.eu/RegData/etudes/STUD/2016/581922/EPRS_STU(2016)581922_EN.pdf" target="_blank" rel="external">https://www.europarl.europa.eu/RegData/etudes/STUD/2016/581922/EPRS_STU(2016)581922_EN.pdf</a></cite></li>
            <li><cite id="ref2"><a href="http://www.fao.org/organicag/oa-faq/oa-faq6/en/" target="_blank" rel="external">http://www.fao.org/organicag/oa-faq/oa-faq6/en/</a></cite></li>
            <li><cite id="ref3"><a href="http://www.fao.org/documents/card/en/c/d6555d8d-1b19-4c04-a25d-74474e6c0a11/" target="_blank" rel="external">http://www.fao.org/documents/card/en/c/d6555d8d-1b19-4c04-a25d-74474e6c0a11/</a></cite></li>
            <li><cite id="ref4"><a href="http://www.fao.org/state-of-biodiversity-for-food-agriculture/en/" target="_blank" rel="external">http://www.fao.org/state-of-biodiversity-for-food-agriculture/en/</a></cite></li>
          </ol>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingOne-A">
        <div class="btn-group">
          <button class="btn faq-btn">Where do you get your ingredients and shop fittings from?</button>
          <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseOne-A" aria-expanded="false" aria-controls="collapseOne-A">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        </div>
      </div>

      <div id="collapseOne-A" class="collapse" aria-labelledby="headingOne-A" data-parent="#accordion">
        <div class="card-body">
          <h4>Items used to fit our shop and in the day to day running</h4>

          <ul>
            <li>Counters and splash backs – <a href="http://www.smile-plastics.com/" target="_blank" rel="external">Smile Plastics</a> made from recycled yoghurt containers</li>
            <li>Lights – <a href="https://www.blocket.se/" target="_blank" rel="external">Blocket</a></li>
            <li>Appliances – Oven, Fridge and Freezers from <a href="www.rmpoolen.se" target="_blank" rel="external">Restaurang Maskin Poolen</a></li>
            <li>Sink – <a href="https://www.blocket.se/" target="_blank" rel="external">Blocket</a></li>
            <li>Paint – <a href="https://www.auro.se/" target="_blank" rel="external">Auro</a></li>
            <li>Flower pots - <a href="https://www.orthexgroup.se/produkter/vaxtmiljo/langtidsbevattning/paulina-kruka-m-langtidsbevattn-40-cm" target="_blank" rel="external">Orthex</a> made from 100% recycled plastic</li>
            <li>Kenwood mixers & blenders – all ex display or demos previously used by <a href="https://www.kenwoodworld.com/sv-se" target="_blank" rel="external">Kenwood</a></li>
            <li>Cabinets – all <a href="https://www.beijerbygg.se/privat/sv/produkter/byggmaterial/byggskivor/plywood/raw-ergo-wall-12x2398x618-tg2-10212398061812" target="_blank" rel="external">PFSC Wood</a> as it’s a local renewable resource</li>
            <li>Frames – old ones at home and find two someone was throwing away</li>
            <li>Glass Jars – <a href="https://tradera.se" target="_blank" rel="external">Tradera</a></li>
            <li>Stools – <a href="https://www.rp.se/" target="_blank" rel="external">Recycling Partners AB</a></li>
            <li>Cups, Plates, Pots – <a href="https://www.myrorna.se/" target="_blank" rel="external">Myrona</a></li>
            <li>Signage – Water based <a href="https://www.posca.com/en/" target="_blank" rel="external">POSCA</a> paint pens, low impact and can be removed easily</li>
            <li>Ipad (for payment system) - <a href="https://inrego.se/" target="_blank" rel="external">Inrego</a></li>
            <li>Display boards – old shelving parts and black clips with signs printed on the shared printer at the local library</li>
          </ul>

          <h4>Where we get our ingredients from</h4>

          <ul>
            <li>Organic Flour (KRAV) - <a href="https://warbrokvarn.se/" target="_blank" rel="external">Wärbro Kvarn</a></li>
            <li>Organic Beet Sugar - Sugar <a href="https://www.nordicsugar.com/knowledge-centre/beet-growing/" target="_blank" rel="external">Nordic Sugar</a> (grown in Sweden and Denmark and processed in Sweden)</li>
            <li>Organic Eggs (KRAV) – <a href="http://xn--sandahnseri-wfb.se/" target="_blank" rel="external">Sanda Hönseri</a></li>
            <li>Organic Butter (KRAV) – Either <a href="https://www.arla.se/produkter/svenskt-smor/normalsaltat-ekologiskt-82pct-500g-491495/" target="_blank" rel="external">Arla</a> or <a href="https://www.garantskafferiet.se/vara-produkter/mejeri/smor--margarin/ekologiskt-smor/" target="_blank" rel="external">Garant</a></li>
            <li>Organic Cream (KRAV) – <a href="https://www.arla.se/produkter/arla-ko-ekologisk-farsk-ekologisk-vispgradde-40pct-1000ml-588104/" target="_blank" rel="external">Arla</a> Read more about Arla’s organic products here. If consumers only purchased organic products, then that is all Arla would make available, so worth considering a swap</li>
            <li>Flowers – <a href="http://vinterviken.com/" target="_blank" rel="external">Vinterviken Trädgård</a> who we have a collaboration with to grown our flowers in the gardens</li>
            <li>Organic Dairy Free Milk & Cream – <a href="https://www.oatly.com/int/products" target="_blank" rel="external">Oatly</a> organic oat drink and imat</li>
            <li>Popcorn & spices – <a href="https://www.osterlenkryddor.se/" target="_blank" rel="external">Österland</a></li>
            <li>Beans for Aquafaba – <a href="https://nordiskravara.se/" target="_blank" rel="external">Nordisk Råavara</a> and <a href="https://www.gogreen.se/" target="_blank" rel="external">Go Green</a></li>
            <li>Maple Syrup & Honey – <a href="https://www.blaxstawine.se/" target="_blank" rel="external">Blaxsta</a></li>
            <li>Birch Syrups – <a href="https://hogtorp.se/" target="_blank" rel="external">Hogtorp Gård</a></li>
            <li>Frozen Berries - <a href="https://www.finnerodja.se/" target="_blank" rel="external">Finnerodja</a></li>
            <li>Fruit Juice – <a href="http://rescued.se/" target="_blank" rel="external">Rscued</a> who use fruit that would otherwise be wasted</li>
            <li>Fruit and Vegetables – depends on the season and which farms or stores have availability. We don’t order large quantities, so our purchases are small. We will highlight these on our social media</li>
          </ul>

          <h4>The only non-local ingredients : Chocolate</h4>

          <ul>
            <li>Organic Chocolate – <a href="http://www.kakaobolaget.se/" target="_blank" rel="external">Kakao bolaget</a> from the Duarte Province in the <a href="http://www.kakaobolaget.se/wp-content/uploads/2018/08/Kakaobolaget-introduces-oko-caribe.pdf" target="_blank" rel="external">Dominican Republic</a></li>
            <li>Organic Cocoa Powder – <a href="https://www.icamcioccolato.com/en/" target="_blank" rel="external">ICAM</a> azienda-cioccolato-sostenibile which has a ‘bean to bar’ approach which is a chocolate making process, where the maker controls every step of the process from cacao bean to chocolate bar. More <a href="https://www.icamcioccolato.com/en/our-production-chain/piantagioni-cacao" target="_blank" rel="external">here</a></li>
          </ul>

          <h4>Running of the Business</h4>

          <ul>
            <li>Handmade Reusable Wooden Boxes - <a href="https://www.facebook.com/nictec.fi" target="_blank" rel="external">NicTec</a></li>
            <li>Website is hosted by – <a href="www.green-hosting.co.uk" target="_blank" rel="external">Green Hosting</a></li>
            <li>Delivery of products – either delivered ourselves using electric car sharing service <a href="http://www.aimosolution.com" target="_blank" rel="external">aimo</a> or eco-certified delivery company <a href="https://urb-it.com/sv/" target="_blank" rel="external">Urbit</a></li>
            <li>Electricity – <a href="/docs/clean-energy-certificate.pdf">Fortum</a> renewable only power</li>
            <li>Our website is built without any videos (as they are data heavy), our information documents are one page with minimal images (smaller files means less data used in their transfer and storage) and our email signatures are text only</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <div class="btn-group">
          <button class="btn faq-btn">Why don't you use cupcake liners?</button>
          <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
        </div>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body"><p>Well simply, cupcakes don't actually need liners. I know, how come we have been using them for decades? Yes they may make baking easier and cleaning up is a bit quicker, but that extra paper means extra felling of trees, production, packaging and transport and many liners have a silicone coating which means they can't be recycled. Join us in the #CupcakeLinerFree revolution.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <div class="btn-group">
            <button class="btn faq-btn">Why do you charge so much for the WHISK box, WHISK Cake Toppers and WHISK Cake Boards and Cake Stands if they aren't returned in 2 weeks?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body"><p>As we want to eliminate disposable packaging, we have spent a lot of time and effort to get the perfect boxes and accessories for our treats. If they aren't returned or are damaged, they have to be replaced and it's a waste of resources, which is why we charge a late fee. We're hoping that you'll see the value in a more sustainably run business and will either bring your own containers (which we love!) or return the WHISK packaging and accessories you've borrowed.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <div class="btn-group">
            <button class="btn faq-btn">How long will my delicious treats stay fresh?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body"><p>It's best to eat them on the day, but they can last a few days at room temperature or up to 5 days in the fridge. Please make sure they are in a container or one of our WHISK boxes as the cakes will dry out and the biscuits will soften the longer they are left. If you have stored the cake or cupcakes in the fridge, its best to let it come to room temperature before serving.  While you can freeze are products, they might not all turn out exactly the same once defrosted, so do bare that in mind.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <div class="btn-group">
            <button class="btn faq-btn">Do you make gluten-free and vegan treats?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body"><p>Yes we do, most of our cakes can be made gluten-free and we can do many vegan cakes.  Feel free to contact us to discuss any dietary requirements you may have and we will do our best to make your cake dreams come true.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSix">
          <div class="btn-group">
            <button class="btn faq-btn">Do you deliver and how much does it cost?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body"><p>Yes, we can bring your treats straight to you and we aim to do it by bike, on public transport or using an electric car. We want to keep our carbon footprint as small as possible, so will route our deliveries in the most efficient way. Please let us know when you order if you need anything delivered.</p>

          <p>Weekdays deliveries are likely to take place between 9:30 and 15:30.</p>

          <table>
            <tr>
              <td class="delivery-place">Central Stockholm</td>
              <td>250 SEK</td>
            </tr>
            <tr>
              <td class="delivery-place">Zone 1</td>
              <td>450 SEK</td>
            </tr>
            <tr>
              <td class="delivery-place">Zone 2</td>
              <td>650 SEK</td>
            </tr>
          </table>
          <p>Weekend deliveries incur an extra 200 SEK surcharge.</p>

          <h4>Zone 1</h4>
          <p>Aspudden, Årsta, Bromma, Gröndal, Hägersten, Hammarby Sjöstad, Lidingö, Liljeholmen, Nacka, Solna, Sundbyberg</p>

          <h4>Zone 2</h4>
          <p>Akalla, Älvsjö, Arlanda, Bandhagen, Danderyd, Enskede, Farsta, Hässelby, Haninge Högdalen, Huddinge, Kista, Skärholmen, Skogås, Sköndal, Sollentuna, Spånga. Tullinge, Vällingby, Vaxholm</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingSeven">
          <div class="btn-group">
            <button class="btn faq-btn">Can we pick up our treats instead of them being delivered?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
          <div class="card-body"><p>Absolutely! Bring your order confirmation with you and we will have them ready for you on the agreed pickup day. Just be careful when you transport them!</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingEight">
          <div class="btn-group">
            <button class="btn faq-btn">How far in advance do I need to order?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
          <div class="card-body"><p>For most orders we just need 5 days, but if there is a cake emergency we will do our best to help. For all bespoke or large orders the more time we have the more detail we can get into to ensure we deliver on your vision.  Also, we are a small boutique and are only able to take on a certain amount of bespoke bookings, so book earlier to avoid disappointment.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingNine">
          <div class="btn-group">
            <button class="btn faq-btn">Do you do large corporate orders?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
          <div class="card-body"><p>Indeed we do. We are passionate about sharing our love of cakes so get in touch and let us know your requirements and we can help make your event extra special.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTen">
          <div class="btn-group">
            <button class="btn faq-btn">What if I have to cancel or amend my order?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
          <div class="card-body"><p>We know things sometimes come up and will do our best to accommodate your request, but as we have had to turn away other customers we may not be able to provide a refund of make the requested changes. Please take a look at out terms and conditions that you would have been provided with when you made your order.</p></div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingEleven">
          <div class="btn-group">
            <button class="btn faq-btn">What's the best way to slice my cake?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
          <div class="card-body">
            <p>Depending on how big a slice of cake you like or how large the cake is we recommend slicing it in either one of three ways:</p>

            <ul>
              <li>Party slice – the traditional wedge of cake</li>
              <li>Tall slice – slender rectangular slices (video <a href="https://www.instagram.com/p/BVIm8L3BZEM/?hl=en" target="_blank" rel="external">here</a>)</li>
              <li>Treat slice – a tall lice cut in half (remember our cakes are 4 layers)</li>
            </ul>

            <p>You can download a PDF <a href="/docs/whisk-full-cake-cutting-guide.pdf" target="_blank">here</a></p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwelve">
          <div class="btn-group">
            <button class="btn faq-btn">What are your Terms & Conditions?</button>
            <button type="button" class="btn collapsed dropdown-toggle dropdown-toggle-split" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
          </div>
        </div>

        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
          <div class="card-body"><p>Here is our full list of Terms & Conditions and Privacy Policy.</p>

            <ul>
              <li><a href="/docs/whisk-terms-and-conditions-privacy-policy.pdf">Terms & Conditions</a></li>
            </ul>
          </div>
      </div>      
    </div>
  </div>
<%-include('partials/footer', {
  page
}); %>