<%-include('partials/header', {
  page,
  title: 'Whisk Menu',
  headerDisplay: true,
  header: 'Menu'
}); %>
  <div class="row">
    <div class="col-md-6 menu-text menu-text-regulars my-auto">
      <h2>Cakes &amp; Cupcakes : The Regulars</h2>

      <p>Pick your style, your flavour and your filling.</p>

      <p>We have delicious cupcakes and wonderful cakes in 3 styles: It's My Jam, Deeply Drippy and Nearly Naked. All of these can be found in our <a href="store/">online store</a>.
    </div>

    <div class="col-md-6 no-padding">
      <img class="menu-img" src="/images/regulars.jpg" alt="The Regulars" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <img class="menu-img no-padding" src="/images/seasonals.jpg" alt="The Seasonals" />
    </div>
    <div class="col-md-6 order-first order-md-last menu-text my-auto">
      <h2>Cakes &amp; Cupcakes : The Seasonals</h2>

      <p>Think strawberries, lingonberries, sea buckthorn, raspberries, blueberries and apples.</p>

      <p>We want to offer the best tasting pastries as possible, so work with seasonal ingredients when it comes to our fresh fillings and flavours. Tasty fruit and berries and edible flowers will be on the menu, either fresh or preserved depending on the season. Keep an eye on our Instagram account to see what's available to order.</p>

      <p>To see how best to cut your cake and how to store it see our easy guides with videos <a href="/cut">here</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 menu-text my-auto">
      <h2>Cake Truffles</h2>

      <p>Bite-sized treats that are perfect for fika. It's cake in a new form, mixed with <a href="http://rescued.se/" target="_blank" rel="external">Rscued Juice</a>, rolled in chocolate and coated with cake crumbs or fruit powder. We have our regular cake flavour options as well as seasonable editions.</p>
    </div>   
    <div class="col-md-6 menu-text my-auto pricelist">
        <h2>Extreme Custard Cream</h2>

        <p>If you're not a superfan of cake, this is the perfect choice. Delicious biscuits in the shape of letters or numbers which are layered with you guessed it, Crème Mousseline (yummy thick custard) and decorated with some of our favourite things like chocolate, seasonal flowers and fruit.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 menu-text my-auto order-first order-md-last">
      <h2>Biscuits and Cookies</h2>

      <p>Biscotti and cookies are a favourite at WHISK, whether it's an oat biscuit or a Christmas tree shaped treat, all are welcome and we will have an ever changing selection in store.</p>
    </div>
    <div class="col-md-6">
      <img class="menu-img no-padding" src="/images/biscuits.jpg" alt="Biscuits" />
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 menu-text my-auto">
      <h2>Our Ingredients</h2>

      <p>The climate crisis is just that, a crisis! We need to do things differently and we want to do our bit by showing everyone you can enjoy a slice of cake but in a more sustainable way. We produce products with organic and locally sourced <a href="/faq">ingredients</a> (except the chocolate)<sup>*</sup> in reusable packaging. We can lend you a box to take your treats home in, or you can bring your own and get a cupcake on us! We want to support local producers and highlight the benefits of buying food with a smaller carbon footprint. If you want to know more about any of the ingredients just drop us a line and we'll be happy to chat.</p>

      <p>If you're looking for something unique we offer custom cakes, more info <a href="/custom">here</a>.</p>

      <div class="asterisk"><sup>*</sup> Our one exception is chocolate and cocoa powder but we have some amazing suppliers who make sure the farmers and workers are paid well and work in good conditions and the beans are organic and single origin and it is shipped around the world effectively.</div>
    </div>
    
    <div class="col-md-6 menu-text my-auto pricelist">
      <h2>Price List</h2>
      <p>Here are the individual prices and include VAT</p>

      <table class="pricelist">
        <tr>
          <td class="pricelist-item">Cupcakes</td>
          <td class="pricelist-price">240 SEK (box of 6)</td>
        </tr>
        <tr>
          <td class="pricelist-item">Mini Cupcakes</td>
          <td class="pricelist-price">240 SEK (box of 12)</td>
        </tr>
        <tr>
          <td class="pricelist-item">Cake Truffles</td>
          <td class="pricelist-price">15 SEK</td>
        </tr>
        <tr>
          <td class="pricelist-item">Biscuits and Cookies</td>
          <td class="pricelist-price">35 - 45 SEK (depending on the biscuit)</td>
        </tr>
        <tr>
          <td class="pricelist-item">Little Party Cake <a href="#cake-image" class="view-cake-image" id="little-party">(10cm | 4")</a></td>
          <td class="pricelist-price">from 480 SEK<div class="pricelist-details">(feeds 6 Party slices or 10 Tall slices or 20 Treat slices)</div></td>
        </tr>
        <tr>
          <td class="pricelist-item">Perfect Party Cake <a href="#cake-image" class="view-cake-image" id="perfect-party">(15cm | 6”)</a></td>
          <td class="pricelist-price">from 680 SEK<div class="pricelist-details">(feeds 10 Party slices or 20 Tall slices or 40 Treat slices)</div></td>
        </tr>
        <tr>
          <td class="pricelist-item">Celebration Cake <a href="#cake-image" class="view-cake-image" id="celebration">(20cm | 8”)</a></td>
          <td class="pricelist-price">from 760 SEK<div class="pricelist-details">(feeds  12 Party slices or 44 Tall slices or 88 Treat slices)</div></td>
        </tr>
      </table>
      
      <p>We offer gluten and dairy free as well as vegan options</p>

      <p>Click on the Cake Sizes above to see how to cut your cake</p>
    </div>
  </div>

  <a id="cake-image"></a>
  <div class="row">
    <div class="col-md-12" id="cakeCuttingImg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 menu-text accessories">
      <h2>Accessories</h2>

      <p>We have our beautiful WHISK cake and cupcake boxes which are available to borrow with every order. We also have items that will elevate your order such as cake stands and cake toppers available to rent. Just let us know what you need and we will do our best to help.</p>
    </div>
  </div>
<%-include('partials/footer', {
  page
}); %>