<%-include('partials/header', {
  page,
  title: 'Whisk',
  headerDisplay: true,
  header: 'Order Placed'
}); %>
	<p>Thanks for the order<%
	if (body.name) { %> <%=body.name %><% } %>!</p>
<%-include('partials/footer', {
  page
}); %>