<%-include('partials/header', {
  page,
  title: 'Whisk Philosophy',
  headerDisplay: true,
  header: 'Our Philosophy'
}); %>
  <div class="row">
    <div class="col-md-12">
      <div class="text-opener">We love cake, but we also love our planet and all living creatures on it. This is why we run WHISK differently to other cake shops. Our focus is on sustainability and ensuring we work in eco-conscious ways. We continually strive to make things better, in our business and our environment. We are by no means perfect, but it is worth making the effort. We are constantly looking for ways to improve and love hearing about new ideas and products, so feel free to share!</div>
    </div>
  </div>

  <div class="row">
    <img class="mx-auto img-fluid rrr" src="/images/rrr.png" alt="Reduce, Reuse, Recyle" />
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>What does a sustainable cake boutique actually mean?</h2>
      
      <p>The definition of sustainability, in an ecological sense, originated in <a href="http://www.un-documents.net/our-common-future.pdf" target="_blank" rel="external">1987</a> as "development that meets the needs of the present without compromising the ability of future generations to meet their own needs". We aim to do this in many ways, for example...</p>

      <ul class="philosophy">
        <li>Our <a href="/faq">products</a> are locally sourced, to cut down emissions generated from extra packaging and transportation and support our local community and help boost local farmers. We also use organic ingredients (learn why <a href="/faq">here</a>) although sometimes, to avoid food waste, we buy products from our local supermarkets that may otherwise be thrown away.</li>

        <li>Ensuring that the companies we buy products from treat the environment, animals and employees fairly. For example the world of chocolate and sugar production have been exploitative for many years, so we only want to work with people who care about more than the bottom line. We use local sugar and our chocolate and cocoa powder is responsibly sourced. More info on our suppliers <a href="/faq">here</a>.</li>

        <li>We try to minimise all waste in our baking through the ingredients and equipment we use to the style of our cakes. Any waste is either composted or recycled.</li>

        <li>There is no disposable packaging at WHISK which means you can either borrow our re-usable boxes and plates or bring in your own containers or trays in any shape or size.</li>

        <li>From our pre-loved pendant lights, countertops made of recycled yoghurt pots and environmentally friendly paint, to the low impact signage and displays, we have designed and fitted out our shop taking our overall footprint on the space into account by sourcing materials already in existence, reducing waste, reusing items and up-cycling as well as ensuring the long term use of the space is considered when making any structural changes or repairs. Find out where we got some of our pre-loved items <a href="/faq">here</a>.</li>

        <li>Using 100% renewable energy to power our <a href="docs/clean-energy-certificate.pdf" target="_blank" rel="external">bakery</a> and our <a href="https://www.green-hosting.co.uk" target="_blank" rel="external">website</a>.</li>

        <li>Highlighting climate facts and events that make people think about their impact on the planet. It may not be the usual place to see this kind of information, but we feel mixing cake and climate improvements is a sweet option.</li>

        <li>To carbon compensate (which doesn’t reduce our actual greenhouse gas emissions, but is a way of contributing funds towards organisations which help the environment by lowering or reducing carbon emissions <i>e.g.</i> wind farms, reforestation programs <i>etc.</i>) for the delivery of some of our ingredients (by truck), any packaging we receive ingredients in which we can't reuse or recycle and the occasional use of vegan butter (which is not made using 100% local ingredients) and for other things we probably haven’t even considered we have decided to make a monthly donation to <a href="https://camfed.org/" target="_blank" rel="external">CAMFED - Campaign for Female Education</a>. Why? Well, in <a href="https://www.drawdown.org/" target="_blank" rel="external">Project Drawdown</a><sup>*</sup> there is a well researched list of ways to reduce and prevent carbon emissions which are ranked in order of most impact, and the <a href="https://www.drawdown.org/solutions/health-and-education" target="_blank" rel="external">education of girls and family planning</a> are ranked number 6 & 7. As a woman owned and run business and having grown up in South Africa this is a topic we feel passionately about. We can all help in many ways, and this is the one we have chosen.<br /><br />

        <div class="asterisk"><sup>*</sup>Project Drawdown is a nonprofit organization and coalition of scholars, scientists, entrepreneurs, and advocates from across the globe that is mapping, measuring, modeling, and communicating about a collective array of substantive solutions to global warming, with the goal of reaching drawdown</div></li>
      </ul>
    </div>

    <div class="row want-to-learn-more">
      <h2>Want to learn more?</h2>

      <p>Head over to our <a href="/faq">FAQ</a> to find out more about some of our choices. If you want to learn more about the climate crisis there are great organisations that can teach you more, we have listed just a few below. There are also so many fantastic books and articles written each day and we hope to highlight some of them through our social media.</p>

      <ul class="links">
        <li><a href="https://www.ipcc.ch/" target="_blank" rel="external">The IPCC</a> - The Intergovernmental Panel on Climate Change (IPCC) is the United Nations body for assessing the science related to climate change</li>
        <li><a href="https://ec.europa.eu/clima/sites/youth/" target="_blank" rel="external">European Union Climate Action</a> - Great resource for information and research on climate change</li>
        <li><a href="https://climate.nasa.gov/" target="_blank" rel="external">NASA</a> - a dedicated climate change site with some excellent answers to everyday questions on what exactly climate change is, how it occurred and why it's developing</li>
        <li><a href="https://www.drawdown.org/" target="_blank" rel="external">Drawdown</a> - A project that looks at solutions to the climate crisis</li>
        <li><a href="https://www.greenpeace.org/international/act/" target="_blank" rel="external">Greenpeace</a> - Giving everyone opportunities to take action</li>
        <li><a href="https://www.fridaysforfuture.org/" target="_blank" rel="external">Friday For Future</a> - Gretha Thunberg's striking school children movement</li>
        <li><a href="https://www.climaterealityproject.org/climate-101" target="_blank" rel="external">The Climate Reality Project</a> - Bill Nye does climate change</li>
        <li>If you want to carbon offset, there are many organisations that can assist you. Perhaps start at the United Nations Carbon offset platform <a href="https://offset.climateneutralnow.org/" target="_blank" rel="external">climateneutralnow.org</a></li>
      </ul>
    </div>
  </div>
<%-include('partials/footer', {
  page
}); %>