</div>

<div class="footer">
  <div class="row">
    <div class="col-md-4 offset-md-2 col-4 contact">
      <h4>ORDER YOUR BESPOKE TREATS</h4>
      <p>
        by contacting us by<br />
        phone or e-mail<br />
        <img class="icon" src="/icons/phone.png" alt="Call us!" />073-141 65 85<br />
        <img class="icon" src="/icons/email.png" alt="E-mail us!" />hello (at) whisk.se
      </p>

      <h4>VISIT US ONLINE</h4>
      <ul id="social" class="nav">
        <li><a id="instagram" href="https://www.instagram.com/whisk_stklm/" target="_blank" rel="external"></a></li>
        <li><a id="facebook" href="https://www.facebook.com/WhiskStockholm/" target="_blank" rel="external"></a></li>
      </ul>
    </div>
    
    <div class="col-md-4 col-12 latest-instagram-holder">
      <div class="row latest-instagram" id="instagram-images-header">
        <h4>LATEST FROM INSTAGRAM</h4>
      </div>
      <div id="instagram-container"></div>
      <div class="row">
        <div class="green-hosting">
          Powered by Green Hosting
          <a href="https://www.green-hosting.co.uk" target="_blank" rel="external">&nbsp;
            <img src="/icons/green-hosting.png" width="28" alt="Green Hosting Windmill" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dependencies -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/ejs.min.js"></script>

<!-- Whisk JS -->
<script src="/js/instagram.js"></script><%

switch (page) {
  case 'treatbox': %>
<script src="/js/form-verification.js"></script>
<script src="/js/boundaries.js"></script>
<script src="/js/treatbox.js"></script><%
    break;

  case 'treatboxconfirm': %>
<script src="/js/treatbox-confirm.js"></script><%
    break;

  case 'menu': %>
<script src="/js/menu.js"></script><%
    break;
  
  default:
    break;
} %>

</body>
</html>